@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #030229;
  margin: 0;
  > div#app {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    cursor: pointer;
  }
  * {
    font-family: "Poppins", "Noto Sans KR", sans-serif;
  }
}

a,
button,
.btn {
  -webkit-appearance: none;
  text-transform: none;
  outline: none;
  background: transparent;
  border: 0;
  text-decoration: none;
  &.btn-circle {
    padding: 0;
    border: 0;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    margin: 1rem auto;
  }
  &.btn-grad {
    color: #fff;
    background: linear-gradient(90deg, #ff2f00 0%, #fc6825 78.13%);
    border: 0 !important;
    font-weight: 600;
    font-size: 16px;
    min-width: 156px;
    height: 44px;
    border-radius: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrap-btn {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  .modal-dialog {
    max-width: 580px;
    justify-content: center;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem);
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  border-radius: 24px;
  border: 0;
  min-width: 504px;
  max-width: 506px;
  min-height: 545px;
  background: #fefeff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .modal-header {
    position: relative;
    padding: 36px 36px 16px 36px;
    border: 0;
    .modal-title {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }
    .btn-close {
      position: absolute;
      top: 26px;
      right: 26px;
      background-image: url(./img/i_x_pop.svg);
      width: 23px;
      height: 23px;
      padding: 0;
      background-size: 100%;
      opacity: 1;
      margin: 0;
    }
  }

  .modal-body {
    padding: 0 36px 0 36px;
    position: relative;
    flex: 1 1 auto;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: #464f60;
      margin: 0 0 24px;
    }
    .modal .wrap-btn {
      margin: 1rem 0;
      display: flex;
      gap: 10px;
    }
    .wrap-form {
      .form {
        display: flex;
        padding: 0;
        gap: 8px;
        margin: 0;
      }
      .title {
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 12px;
        color: #2c2c2c;
        display: flex;
        align-items: baseline;
      }
      .balance {
        font-weight: 500;
        font-size: 12px;
        color: #464f60;
        margin-left: auto;
      }
      .wrap-price {
        position: relative;
        label {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          box-sizing: border-box;
          width: 108px;
          height: 38px;
          font-size: 14px;
          padding: 0 15px;
          margin: 0;
          background: rgba(217, 224, 236, 0.4);
          border-radius: 100px;
          flex: 0 0 auto;
        }
        .form-control {
          display: block;
          width: 100%;
          font-weight: 400;
          color: #212529;
          font-size: 14px;
          background: rgba(217, 224, 236, 0.2);
          border-radius: 100px;
          border: 0;
          padding: 0 90px 0 29px;
          height: 38px;
        }
        span.unit {
          position: absolute;
          top: 9px;
          right: 26px;
          font-size: 14px;
          color: rgba(70, 79, 96, 0.6);
        }
      }
      .alert {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fd1717;
        padding: 12px 0 0;
        margin: 0;
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 18px 36px 36px 36px;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    .wrap-btn {
      + .sm {
        display: flex;
        margin-top: 12px;
        margin-bottom: -10px;
        gap: 4px;
        align-items: center;
        p {
          font-weight: 500;
          font-size: 10px;
          line-height: 15px;
          color: #626978;
          margin: 0;
        }
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  &.show {
    opacity: 0.8;
  }
}

@media (max-width: 991.98px) {
  .modal .modal-content {
    width: 100%;
    max-width: 504px;
    margin: 0 auto;
  }
  .modal:not(.pop-img, .m-pop-center) .modal-content {
    background: #fefeff;
    min-width: 0 !important;
    width: 100vw;
    border-radius: 30px 30px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .modal .modal-header {
    padding: 26px 26px 16px 26px;
  }
  .modal .modal-body {
    padding: 0 26px 20px 26px;
  }
  .modal .modal-body p {
    margin-bottom: 16px;
  }
  .modal .wrap-form:last-child:not(:first-child) {
    margin-top: 26px;
  }
  .modal .wrap-form .balance {
    font-size: 11px;
  }
  .modal .form-control {
    padding: 9px 15px;
  }
  .modal .wrap-price span.unit {
    right: 13px;
  }
  .modal .modal-footer {
    padding: 0 26px 28px 26px;
  }
  .modal .modal-footer .wrap-btn {
    width: 100%;
  }
  .modal .modal-footer .btn {
    font-size: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
