// class, placeholder

// specific styles
.pull-right {
  margin-left: auto;
}

.pull-btm {
  margin-top: auto;
}

.overflow-auto-y {
  overflow-y: auto;
}

.t-ell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.t-ell2 {
  @include t-ell2;
}

.w-20 {
  width: 20%;
}

.w-35 {
  width: 35%;
}

// @media (max-width: 991.98px)
@include media-breakpoint-down(md) {
  .fixed-bottom {
    margin-bottom: 0;
    padding: 20px;
  }
}
